
@{
    ViewBag.Title = "MayLuot";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCon.css" rel="stylesheet" />
<link href="~/Content/style_K/Style_silder.css" rel="stylesheet" />
@*   breadcrumb     *@
<nav class="breadcrumb">
    <a href="/Default/Index">Trang chủ </a>> <span>Iphone</span>
</nav>
@*banner*@

<section class="banner-section">
    <div class="slider">
        <div class="slides">
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner iP17pro-ĐC2_Danh mục.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/banner1.png">
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/danh mục-ip.png">
            </div>

        </div>

        @*Nút điều hướng*@
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        @*Dấu chấm*@
        <div class="dots"></div>
    </div>
</section>
<script src="~/Content/js/js_banner.js"></script>
@* Best seller*@
<div class="iphone-series">
    <a href="#" class="series-btn">iPhone 17 series</a>
    <a href="#" class="series-btn">iPhone 16 series</a>

</div>
@*product dung grid de chia ra tung 1fr hinh tuy thuoc vao ddo co dang cua mang hinh*@
<section class="product-grid">
    <a href="/Product/Iphon17" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/b1.png" alt="Alternate Text" />

        <h3>iPhone 17 </h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/IphoneAir" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0049406_iphone-air-256gb_240.png" alt="Alternate Text" />

        <h3>iPhone 17 Air</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
    <a href="/Product/Iphon17" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/b1.png" alt="Alternate Text" />

        <h3>iPhone 17 </h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/IphoneAir" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0049406_iphone-air-256gb_240.png" alt="Alternate Text" />

        <h3>iPhone 17 Air</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
</section>

