
@{
    ViewBag.Title = "TrangWatch";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<link href="~/Content/style_K/Style_TrangCon.css" rel="stylesheet" />
@*   breadcrumb     *@
<nav class="breadcrumb">
    <a href="/Default/Index">Trang chủ </a>> <span>Watch</span>
</nav>
@*banner*@

<link href="~/Content/style_K/Style_silder.css" rel="stylesheet" />
<section class="banner-section">
    <div class="slider">
        <div class="slides">
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/Watch1.png" />
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/Watch2.png" />
            </div>
            <div class="slide" onclick="window.location.href=''">
                <img src="~/Content/img/Watch3.png" />
            </div>

        </div>

        @*Nút điều hướng*@
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>

        @*dau cham*@
        <div class="dots"></div>
    </div>
</section>
<script src="~/Content/js/js_banner.js"></script>
@* Best seller*@
<div class="iphone-series">
    <a href="#" class="series-btn">Watch Se GPS series</a>
    <a href="#" class="series-btn">Watch Ultra series</a>

</div>
@*product dung grid de chia ra tung 1fr hinh tuy thuoc vao ddo co dang cua mang hinh*@
<section class="product-grid">
    <a href="/Product/WatchUltra2" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0030238_apple-watch-ultra-2-gps-cellular-49mm-ocean-2024_240.png" alt="Alternate Text" />
        <h3>Watch Ultra 2</h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/WatchSeGPS" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@
        <img src="~/Content/img/0032869_apple-watch-se-gps-cellular-2024-sport-band-size-sm_240.jpeg" alt="Alternate Text" />
        <h3>Watch Se GPS</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
    <a href="/Product/WatchUltra2" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0030238_apple-watch-ultra-2-gps-cellular-49mm-ocean-2024_240.png" alt="Alternate Text" />
        <h3>Watch Ultra 2</h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/WatchSeGPS" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@
        <img src="~/Content/img/0032869_apple-watch-se-gps-cellular-2024-sport-band-size-sm_240.jpeg" alt="Alternate Text" />
        <h3>Watch Se GPS</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
    <a href="/Product/WatchUltra2" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0030238_apple-watch-ultra-2-gps-cellular-49mm-ocean-2024_240.png" alt="Alternate Text" />
        <h3>Watch Ultra 2</h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/WatchSeGPS" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@
        <img src="~/Content/img/0032869_apple-watch-se-gps-cellular-2024-sport-band-size-sm_240.jpeg" alt="Alternate Text" />
        <h3>Watch Se GPS</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
    <a href="/Product/WatchUltra2" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0030238_apple-watch-ultra-2-gps-cellular-49mm-ocean-2024_240.png" alt="Alternate Text" />
        <h3>Watch Ultra 2</h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/WatchSeGPS" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@
        <img src="~/Content/img/0032869_apple-watch-se-gps-cellular-2024-sport-band-size-sm_240.jpeg" alt="Alternate Text" />
        <h3>Watch Se GPS</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
    <a href="/Product/WatchUltra2" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0030238_apple-watch-ultra-2-gps-cellular-49mm-ocean-2024_240.png" alt="Alternate Text" />
        <h3>Watch Ultra 2</h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/WatchSeGPS" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@
        <img src="~/Content/img/0032869_apple-watch-se-gps-cellular-2024-sport-band-size-sm_240.jpeg" alt="Alternate Text" />
        <h3>Watch Se GPS</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
    <a href="/Product/WatchUltra2" class="product-card">
        @*<div class="Tag New">Mới</div>*@

        <img src="~/Content/img/0030238_apple-watch-ultra-2-gps-cellular-49mm-ocean-2024_240.png" alt="Alternate Text" />
        <h3>Watch Ultra 2</h3>
        <p class="price">37.999.000đ</p>
    </a>

    <a href="/Product/WatchSeGPS" class="product-card">
        @*<div class="Tag Sale">Giảm 0%</div>
            <div class="Tag New">Mới</div>*@
        <img src="~/Content/img/0032869_apple-watch-se-gps-cellular-2024-sport-band-size-sm_240.jpeg" alt="Alternate Text" />
        <h3>Watch Se GPS</h3>
        <p class="price">37.999.000đ <span class="old-price">34.999.000đ</span></p>
    </a>
</section>
